Repository Guria/pathway, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, documentation, ci, tests, dependencies, config

.github/labeler.yml:

# Add 'rust' label to any change in the core directory
rust:
  - changed-files:
    - any-glob-to-any-file: core/**/*

# Add 'documentation' label to any change to documentation files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - README.md
      - LICENSE*
      - docs/**/*
      - "**/*.md"

# Add 'ci' label to any CI/CD related changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/*
      - .github/actions/*
      - .github/dependabot.yml

# Add 'tests' label to any test file changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - core/tests/**/*
      - "**/*_test.rs"
      - "**/test_*.rs"

# Add 'dependencies' label to any dependency file changes
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - core/Cargo.toml
      - core/Cargo.lock

# Add 'config' label to configuration file changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*.yml
      - .github/**/*.yaml
      - deny.toml
      - rust-toolchain.toml
      - .rustfmt.toml
      - .clippy.toml

Add macOS bundle packaging and CI build (#13)
  .github/workflows/macos-app.yml
  .github/workflows/quality.yml
  .gitignore
  README.md
  core/src/browser/macos.rs
  core/src/main.rs
  core/tests/README.md
  core/tests/integration.rs
  packaging/macos/Info.plist
  packaging/macos/PathwayShim.entitlements
  packaging/macos/PathwayShim.swift
  packaging/macos/README.md
  packaging/macos/build_app.sh
Labels: rust, documentation, ci, tests, config

Improve cross-platform compatibility in tests by using platform-specific file paths and URLs
  core/src/url.rs
  core/tests/browser_integration.rs
Labels: rust, tests

Refactor browser detection functions to accept a FileSystem parameter for improved testability and flexibility
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
Labels: rust

Enhance Windows argument quoting to handle embedded quotes and backslashes correctly
  core/src/browser/windows.rs
Labels: rust

Remove unused test for custom profile directory handling
  core/tests/browser_integration.rs
Labels: rust, tests

Enhance browser detection test by creating a temporary executable file with proper permissions
  core/src/browser/linux.rs
Labels: rust

Refactor Windows argument quoting to simplify backslash handling and improve readability
  core/src/browser/linux.rs
Labels: rust

Introduce virtual file system abstraction with clean API design and streamlined testing (#17)
  .github/copilot-instructions.md
  AGENTS.md
  core/Cargo.lock
  core/Cargo.toml
  core/docs/virtual_filesystem.md
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
  core/src/filesystem.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/profile.rs
  core/src/url.rs
  core/tests/browser_integration.rs
  core/tests/integration.rs
Labels: rust, documentation, tests, dependencies

Refactor browser selection and profile management
  .github/workflows/ci.yml
  core/Cargo.lock
  core/Cargo.toml
  core/src/browser/channels.rs
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/sources.rs
  core/src/browser/windows.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/profile.rs
  core/tests/browser_integration.rs
  core/tests/integration.rs
Labels: rust, ci, tests, dependencies, config

Add shell-words dependency and enhance browser command handling
  core/Cargo.lock
  core/Cargo.toml
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/windows.rs
  core/src/main.rs
Labels: rust, dependencies

Refine channel suffix handling for Chrome on Linux in ProfileManager
  core/src/profile.rs
Labels: rust

Remove installation source detection for macOS, Linux, and Windows browsers
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/sources.rs
  core/src/browser/windows.rs
  core/src/main.rs
  core/src/profile.rs
Labels: rust

Refactor browser launch path handling and improve channel-specific directory management for Brave and Opera
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
  core/src/main.rs
  core/src/profile.rs
Labels: rust

Add OperaChannel to browser channel imports in profile.rs
  core/src/profile.rs
Labels: rust

Add TODO comments to handle OperaChannel variants in ProfileManager
  core/src/profile.rs
Labels: rust

Remove OperaChannel support from browser channel handling and related logic
  core/src/browser/channels.rs
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/windows.rs
  core/src/profile.rs
Labels: rust

Refactor browser detection logic in Windows and improve command path parsing
  core/src/browser/macos.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
Labels: rust

Add robust support for Scoop and Chocolatey package managers on Windows (#15)
  .github/workflows/ci.yml
  core/Cargo.lock
  core/Cargo.toml
  core/src/browser/channels.rs
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/profile.rs
  core/tests/browser_integration.rs
  core/tests/integration.rs
Labels: rust, ci, tests, dependencies, config
