Repository Guria/pathway, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, documentation, ci, tests, dependencies, config

.github/labeler.yml:

# Add 'rust' label to any change in the core directory
rust:
  - changed-files:
    - any-glob-to-any-file: core/**/*

# Add 'documentation' label to any change to documentation files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - README.md
      - LICENSE*
      - docs/**/*
      - "**/*.md"

# Add 'ci' label to any CI/CD related changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/*
      - .github/actions/*
      - .github/dependabot.yml

# Add 'tests' label to any test file changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - core/tests/**/*
      - "**/*_test.rs"
      - "**/test_*.rs"

# Add 'dependencies' label to any dependency file changes
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - core/Cargo.toml
      - core/Cargo.lock

# Add 'config' label to configuration file changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*.yml
      - .github/**/*.yaml
      - deny.toml
      - rust-toolchain.toml
      - .rustfmt.toml
      - .clippy.toml

Apply review suggestions
  .github/copilot-instructions.md
Labels: documentation

Add comprehensive GitHub Copilot instructions for Pathway repository with CI/CD integration (#4)
  .github/copilot-instructions.md
Labels: documentation

Implement browser detection and launching functionality across platforms
  .github/copilot-instructions.md
  README.md
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
  core/src/lib.rs
  core/src/main.rs
  core/tests/integration.rs
Labels: rust, documentation, tests

Refactor macOS browser handler and update BrowserChannel enum
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/windows.rs
Labels: rust

Improve Flatpak directory handling; enhance Windows browser launch command and add Unix tests for file URL and path traversal detection
  .github/copilot-instructions.md
  core/src/browser/linux.rs
  core/src/browser/windows.rs
  core/tests/integration.rs
Labels: rust, documentation, tests

Refactor browser deduplication to use HashSet for improved performance
  core/src/browser/mod.rs
  core/src/browser/windows.rs
Labels: rust

Add bundle_id field to BrowserInfo
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/windows.rs
  core/src/main.rs
Labels: rust

Implement browser detection and launching functionality across platforms (#6)
  .github/copilot-instructions.md
  README.md
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
  core/src/lib.rs
  core/src/main.rs
  core/tests/integration.rs
Labels: rust, documentation, tests

Remove README.md file from the .github directory
  .github/README.md
Labels: documentation

Implement profile management and browser integration
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  README.md
  core/Cargo.lock
  core/Cargo.toml
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/profile.rs
  core/tests/README.md
  core/tests/browser_integration.rs
  core/tests/integration.rs
Labels: rust, documentation, ci, tests, dependencies, config

Resolve review
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  core/Cargo.lock
  core/Cargo.toml
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/windows.rs
  core/src/main.rs
  core/src/profile.rs
  core/tests/README.md
  core/tests/browser_integration.rs
  core/tests/integration.rs
Labels: rust, documentation, ci, tests, dependencies, config

Update core/src/profile.rs
  core/src/profile.rs
Labels: rust

Update core/src/profile.rs
  core/src/profile.rs
Labels: rust

Update core/src/profile.rs
  core/src/browser/linux.rs
  core/src/browser/windows.rs
  core/src/profile.rs
Labels: rust

Implement profile management and browser integration (#7)
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  README.md
  core/Cargo.lock
  core/Cargo.toml
  core/src/browser/linux.rs
  core/src/browser/macos.rs
  core/src/browser/mod.rs
  core/src/browser/unknown.rs
  core/src/browser/windows.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/profile.rs
  core/tests/README.md
  core/tests/browser_integration.rs
  core/tests/integration.rs
Labels: rust, documentation, ci, tests, dependencies, config

Update LICENSE-APACHE
  LICENSE-APACHE
Labels: documentation

Add MIT + Apache-2.0 dual licensing to the project (#12)
  LICENSE-APACHE
  LICENSE-MIT
  README.md
  core/Cargo.toml
Labels: rust, documentation, dependencies

rebased
  README.md
Labels: documentation

fix logo
  README.md
  assets/pathway-logo.png
  assets/pathway-logo.svg
Labels: documentation

Update README layout and fix badges
  README.md
Labels: documentation

Transform README into professional OSS project with logo and branding (#10)
  README.md
  assets/pathway-logo.png
Labels: documentation

Add macOS bundle packaging and CI build
  .github/workflows/macos-app.yml
  .gitignore
  packaging/macos/Info.plist
  packaging/macos/PathwayShim.entitlements
  packaging/macos/PathwayShim.swift
  packaging/macos/README.md
  packaging/macos/build_app.sh
Labels: documentation, ci, config

Update packaging/macos/Info.plist
  packaging/macos/Info.plist
Labels: none

Update packaging/macos/PathwayShim.swift
  packaging/macos/PathwayShim.swift
Labels: none

Update packaging/macos/PathwayShim.swift
  packaging/macos/PathwayShim.swift
Labels: none

Update packaging/macos/Info.plist
  packaging/macos/Info.plist
Labels: none

Adjust shim constants for @main compatibility
  packaging/macos/PathwayShim.swift
Labels: none

Remove unnecessary system default flag from shim
  packaging/macos/PathwayShim.swift
Labels: none

Nest shim app delegate under @main entry point
  packaging/macos/PathwayShim.swift
Labels: none

Fix shim logger initialization and CLI arguments
  packaging/macos/PathwayShim.swift
Labels: none

Refactor shim entry point into single delegate
  packaging/macos/PathwayShim.swift
Labels: none

Add parse-as-library flag to shim build
  packaging/macos/build_app.sh
Labels: none

Use OSLog shim logging compatible with macOS 10.15
  packaging/macos/PathwayShim.swift
Labels: none

Improve macOS build script robustness
  packaging/macos/build_app.sh
Labels: none

Fix Chocolatey path handling and clean up test imports
  core/src/browser/windows.rs
Labels: rust

Enhance macOS build process: add installer package creation, update logging
  .github/workflows/macos-app.yml
  .github/workflows/quality.yml
  core/src/browser/macos.rs
  core/src/main.rs
  packaging/macos/Info.plist
  packaging/macos/PathwayShim.swift
  packaging/macos/README.md
  packaging/macos/build_app.sh
Labels: rust, documentation, ci, config

Add conflict handling for no_system_default argument in launch command
  core/src/main.rs
Labels: rust

Add ProfileErrorResponse struct and improve error handling in profile commands
  core/src/main.rs
Labels: rust

Enhance macOS app bundle documentation and improve PathwayShim environment handling
  README.md
  packaging/macos/PathwayShim.swift
Labels: documentation

Enhance command-line argument handling: add conflict checks for browser and profile options, and improve error response structure in JSON format
  core/src/main.rs
  core/tests/README.md
  core/tests/integration.rs
Labels: rust, documentation, tests
